body {
    font-family: monospace;
}

.disable-touch-action {
    touch-action: none;
}

a:link, a:visited, a:hover, a:active {color: black;}

.gallery-tile {
    float: left;
    margin: 15px;
    border: 1px solid #ddd;
    padding: 6px;
}

.open-file-tile {
    float: left;
    margin: 15px;
    border: 1px solid #ddd;
    padding: 6px;
    cursor: pointer;
    height: 300px;
    width: 300px;
    text-align: center;
    display: table;
}

.open-file-link {
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    height: 250px;
    text-decoration: none;
    cursor: pointer;
}

#file-picker {
    display: none;
}

.gallery:after {
  content: "";
  display: table;
  clear: both;
}

.gallery img {
    height: 300px;
    /* avoid extra whitespace under image */
    display: block;
}

#UpperPart {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 50px;
    right: 0;
}

#LowerPart {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #555;
}

.bsod {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: blue;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

#mapport {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-color: white;
}

#mainsvg {
    position: absolute;
    /* show elements at negative positions too, we want an infinite space in all directions */
    overflow: visible;
    top: 0;
    left: 0;
    transform-origin: top left;
}

#ToolGroup {
    float: left;
}

#BottomRightLinks {
    float: right;
    margin-right: 6.5px;
}

.ToolButton {
    overflow: hidden;
    width: 35px;
    height: 35px;
    background: no-repeat scroll 0 0 transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 6.5px;
    margin-top: 6.5px;
    margin-right: 0px;
    margin-bottom: 6.5px;
    float: left;
}

.ToolGroup {
    margin-right: 20px;
    display: inline-block; /* to make div adapt to size of its floating children */
}

.ToolButton.ActiveTool {
    background-color: #ddd;
}

.tool-svg {
    width: 35px;
    height: 35px;
}

.topright-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    background: no-repeat scroll 0 0 transparent;
    border-radius: 5px;
    margin: 15px;
}

#github-link {
    border: none;
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}

.modal_title {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: 0;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
    background-color: #555;
}

.modal_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    padding: 5px;
    background-color: #555;
}

#color_wheel {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#color_picker {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

#color_picker_inner {
    overflow: unset;
    top: 0;
}

#avatar_picker {
    width: 70%;
    height: 70%;
}

.avatar_preview {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 30px;
    background-size: 71.4%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 9px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 9px;
    cursor: pointer;
}

/* for all elements of class corner-handle with an ancestor of class
   set_corner_handle_cursors_to_move (this ancestor will be mainsvg),
   set cursor to "move" */
.set_corner_handle_cursors_to_move .corner-handle {
    cursor: move;
}

.set_corner_handle_cursors_to_none .corner-handle {
    cursor: none;
}

.avatar {
    animation: move forwards 600ms ease-in-out;
    offset-rotate: 0deg;
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
