#controls {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px;
    background-color: white;
}
#arenaWrapper {
    position: absolute;    
    bottom: 20px;
    right: 20px;
    width: 400px; /* default, set by js */
    height: 300px; /* default, set by js */
}
.arena {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    background-color: #555;
    overflow: hidden;
}
#arenaBG {
    z-index: 1;
}
#myvideo {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 450px;
    height: 338px;

    clip-path: url(#myClip);
    
    /* mirror video: */
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    z-index: 2;
}
#arenaFG {
    z-index: 3;
}




.container {
    margin: auto;
    width: 80%;
    background-color: transparent;
  }
  
  .path {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 80px;
    background-color: #c1c1c1;
    margin: auto;
  }
  .shape {
    position: absolute;
    left: 0;
    background-color: red;
    width: 80px;
    height: 80px;
    display: block;
    top: 0;
    
    animation: ani 20s infinite;
  }
  
  
  @keyframes ani {
    0% {
      left: 0;
    }
    50% {
      left: 720px;
    }
    100% {
      left: 0;
    }
  }
  