.personbox {
    width: 450px;
    height: 338px;
}

.hvcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
.clip-circle {
    clip-path: circle(20% at center);
}
