.personbox {
    width: 450px;
    height: 338px;
}

.hvcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#myvideo {
    /* mirror video */
    transform: translate(-50%, -50%) rotateY(180deg);
    -webkit-transform: translate(-50%, -50%) rotateY(180deg);
    -moz-transform: translate(-50%, -50%) rotateY(180deg);
}

.clip-circle {
    clip-path: circle(88px at center); /* 450/640*125 */
}

.clip-video {
    clip-path: url(#myClip);
}
